---
layout: default
---
<section id="about">

    <div class="container" id="welcome">
        <div class="welcome-banner">
            <h2 class="welcome-banner-heading">{{ page.title }}</h2>
            
        </div>
    </div>

    <div class="container">
        
            <div class="panel-body">
                <div class="row">
                   
                    <div class="col-md-8">
                        <h3 class="bio-heading"> </h3>
                        

                        {{ page.content | markdownify }}

 
                </div>
            </div>
        
    </div>
</section>
